#contact {
    padding-top: 64px;
    max-width: 1100px;
    margin: 0 auto;
    height: auto;
  }
  
  #contact > h3 {
    padding-top: 64px;
    padding-left: 32px;
    padding-bottom: 25px;
  }
  
  #contact-info {
    column-gap: 5em;
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
  }
  
  .contact-box {
    padding-bottom: 10px;
  }
  
  #linked-in {
    display: flex;
    padding-left:32px;
    padding-top: 20px;
  }
  
  #linked-in > p{
    padding: 10px;
    width: 55%;
  }
  
  #map {
    width: 1100px;
    padding: 40px 0;
    padding-left: 32px;
  }

/* map starts 
#map-responsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
    width: calc(100%-64px);
    max-width: 1110px;
    margin: 100px auto;
    position: relative;
    padding-left: 72px;
}

#map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* map ends */

/*RESPONSIVE*/

/* ipads */
@media screen and (max-width: 992px) {
    nav{
      padding-left: 18px;
    }

    #socials {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1.5fr);
        row-gap: 1em;
        width: calc(100%-64px);
        max-width: 1110px;
        margin: 100px auto;
        margin-bottom: 10px;
        height: auto;
        position: relative;
        padding-bottom: 15px;
        padding-left: 72px;
        padding-right: 72px;
    }
    
    #socials > div {
        padding: 15px;
        text-align: left;
        padding-left: 20%;
    }

    #map-responsive{
        overflow:hidden;
        padding-bottom:40%;
        position:relative;
        height: 576px;     /* 0 before */
        width: calc(100%-64px);
        max-width: 1110px;
        margin: 100px 90px;
        position: relative;
        padding-left: 72px;
    }
}

/* phones */
@media screen and (max-width: 576px) {
    .nav-right {
        position: absolute;
        right: 0px;
        flex-direction: column;
        top: 8vh;
        text-align: right;
        right: 19px;
        display: none;
    }

    .nav-right > li {
        margin-right: 0px;
        margin-top: 5px;
    }
        
    .burger {
        display: block;
        margin-right: 19px;
        cursor: pointer;
    }
        
    .nav-right.open {
        display: block;
        z-index: 3;
        background-color: white;
    }

    #socials {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1.5fr);
        row-gap: 0.5em;
        width: calc(100%-64px);
        max-width: 1110px;
        margin: 100px auto;
        margin-bottom: 10px;
        height: auto;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #socials > div {
        padding: 5px;
        text-align: left;
    }

    i {
        font-size: 40px;
        color: #005CB9;
        padding: 10px;
    }
    
    .black {
        font-weight: normal;
        color: #212427;
        font-size: 22px;
        padding: 5px;
        padding-bottom: 10px;
    }

    #map-responsive{
        overflow:hidden;
        padding-bottom:40%;
        position:relative;
        height: 324px;
        width: calc(100%-64px);
        max-width: 1110px;
        margin: 50px 50px;
        position: relative;
        padding-left: 72px;
        z-index: 0;
    }
    
    #map-responsive iframe{
        left:0;
        top:0;
        height: 100%;
        width: 100%;
        position:absolute;
        z-index: 0;
    }
}