/* Hero Section starts */

/*Welcome Text + Rhombus images*/

.hero {
    max-width: 1100px;
    margin: 64px auto;
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  .welcome-text{
    font-weight: 700;
    padding-left: 32px;
    margin-top: 28px;
    display: flex;
    align-self: flex-start;
    float:left;
    width: 45%;
    height: inherit;
    line-height: 98%;
    font-style: normal;
    font-size: 55px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  .rhombus {
    width: 55%;
    height: auto;
  }
  
  .front-welcome-images{
    width: 630px;
    z-index: 1;
  }
  
  .back-welcome-images{
    width: 630px;
    opacity: 30%;
    z-index: 0;
    position: absolute;
  }
  
  .diamond-front{
    margin-top: -60px;
    height: 630px;
    width: 630px;
    clip-path: polygon(100% 0%, 35% 15%, 0% 100%, 65% 85%);
    object-fit: cover;
    opacity: 1;
    animation: fade 10s ease-in;
  }   

  .diamond-back{
    margin-top: 60px;
    margin-left: 60px;
    height: 630px;
    width: 630px;
    clip-path: polygon(65% 15%, 0% 0%, 35% 85%, 100% 100%);
    object-fit: cover;
    opacity: 1;
    animation: fade 10s ease-in;
  }             
  
  @keyframes fade {
    0%,100% { opacity: 0 }
    10%, 90% { opacity: 1 }
  }
  
  
  /* Hero Section Ends */

  /*RESPONSIVE*/

@media screen and (max-width: 1260px){


  .front-welcome-images,.back-welcome-images{
    zoom:0.8;
  }
  
}




/* ipads */
@media screen and (max-width: 992px) {
  .hero{
    margin: 18px auto;
    align-items: center;
  }

  .welcome-text{
    align-items: center;
    margin-top: 64px;
    height: 50%;
    width: 100%;
    padding-left: 32px;
  }

  .rhombus {
    display: none;
  }

  

  /* not perfect
  .rhombus{
    width: 55%;
    height: 450px;
    margin-left: 330px; 
    margin-top: -120px;
  }

  .diamond-back, .diamond-front {
    height: 380px;
    width: 380px;
  } */
}


/* phones */
@media screen and (max-width: 576px) {
  .hero{
    align-items: center;
  }
  .welcome-text{
    font-size: 46px;
    width: 100%;
    padding-left: 18px;
  }
  .rhombus{
    display: none;
  }
}