#grey-content-2 {
    padding-top: 64px;
    max-width: 1100px;
    margin: 0 auto;
    height: auto; 
}
  
#grey-content-2 > h3 {
    padding-top: 64px;
    padding-left: 32px;
    padding-bottom: 25px;
}
  
.list-image {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    object-fit: cover;
    height: 560px;
    margin: 72px 72px 36px;
}
  
.img {
    padding-right: 30px;
    height: inherit;
}
  
.service-img{
    margin-right: 18px;
    border-radius: 16px;
    height: inherit;
    width: 360px;
    object-fit: cover;
}

.list-image-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    object-fit: cover;
    height: 360px;
    margin: 72px 72px 36px;
}


#project-img{
    margin-right: 18px;
    height: 360px;
    width: 360px;
    object-fit: cover;
    border-radius: 16px;
}

#project-manage {
    padding-left: 32px;
    padding-bottom: 100px;
}
  
.list {
    padding-left: 20px;
}


/*RESPONSIVE*/

@media screen and (max-width: 992px) {
    /*Project Management Only*/
    .list-image-projects {
        flex-direction: column;
        height: auto;
        margin-left: 18px;
    }

    #project-img{
        margin-right: 0px;
        height: 180px;
        border-radius: 16px;
        width: 540px;
    }

    #service-text-2 {
        margin-left: 6px;
    }

    #headService{
        margin-left: 6px;
        margin-top: 12px;
    }

    /*Mech and Electr.*/
    .list-image {
        flex-direction: column;
        height: auto;
        margin-left: 18px;
    }
    .service-img{
        margin-right: 0px;
        border-radius: 16px;
        height: 180px;
        width: 540px;
    }

    .list{
        margin-left: 18px;
        padding-top: 12px;
        padding-left: 6px;
    }

    #grey-content-2 > h3 {
        width: 75%;
        margin-left: 0px;
    }
}


/*RESPONSIVE MOBILE*/
@media screen and (max-width: 576px) {

    .p-text{
        font-size: 18px;
    }

    /*Project Management Only*/
    .list-image-projects {
        flex-direction: column;
        height: auto;
    }

    #project-img{
        margin-right: 0px;
        height: 180px;
        width: calc(100vw - 36px);
        border-radius: 16px;
    }

    #service-text-2, #headService{
        margin-left: 6px;
    }

    #headService{
        margin-left: 6px;
        margin-top: 12px;
    }

    /*Mech and Electr.*/
    .list-image {
        flex-direction: column;
        height: auto;
    }

    .service-img{
        margin-right: 0px;
        border-radius: 16px;
        height: 180px;
        width: calc(100vw - 36px);
    }

    .list{
        margin-left: 18px;
        padding-left: 6px;
    }

    .list li{
        font-size: 18px;
    }

    #grey-content-2 > h3 {
        width: 50%;
        margin-left: 0px;
    }
}