#grey-content-2 {
    padding-top: 64px;
    max-width: 1100px;
    margin: 0 auto;
    height: auto;
}
  
#grey-content-2 > h3 {
    padding-top: 64px;
    padding-left: 32px;
    padding-bottom: 25px;
}
  
.list-image {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 32px;
    padding-bottom: 25px;
}
  
.img {
    height: 500px;
    width: 100%;
    padding-right: 30px;
}
  
#project-manage {
    padding-left: 32px;
    padding-bottom: 25px;
}
  
.list {
    padding-left: 20px;
}