*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
  font-family: 'IBMPlexSansBold', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: black; 
  height:100%;

  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

.highlight-blue {
  color: #005CB9;
}

.grey-bg {
  background-color: #EEEEEE;
  height: auto;
  width: calc(100%-64px);
}

.grey {
  width: calc(100%-64px);
}

h3 {
  font-family:  "IBMPlexSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 131.19%;
  color: #000000;
  text-align: left;
}

h4 {
  font-family:  "IBMPlexSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 131.19%;
  color: #000000;
  text-align: left;
}

/* projects and services headings use kri isko bd mein check krk kaatna hoga shaid */
.text{
  text-align: center;
  font-family: "IBMPlexSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 131.19%;
  text-align: center;
  color: #000000;
}

.p-text, ul > li {
  font-family: "IBMPlexSansBold";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;   /* or 33px */
  color: #5C5C5C;
}

.button{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 131.19%;

  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  padding: 8px;
  position: absolute;
  width: 217px;
  height: 49px;
  display: block;
  border-radius: 24.5px;
  border-color: transparent;
}
/* padding-right: 72px; in project/contact/service container if problem with alignment   */

@font-face {
  font-family: IBMPlexSansBold;
  src: url(../font/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: IBMPlexSansReg;
  src: url(../font/IBMPlexSans-Regular.ttf);
}

/* nav starts */
#company-name {
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  font-style: normal;
  cursor: pointer;
}

#logo {
  width: 98px;
  height: 98px;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

nav {
  margin: 6px auto;
  width: calc(100%-64px);
  max-width: 1110px;
  position: relative;
  padding-left: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(255, 255, 255);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right{

  margin-right: 20px;
  display: flex;
  
  justify-content: space-around;
}

.nav-right > li {
  margin-right: 19px;
  text-decoration: none;
  list-style: none;

}

.nav-right > li > a {
  font-family: IBMPlexSansReg;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-right > li > a:hover {
  color: #005CB9;
}

.nav-right > li > a:hover {
  color: #005CB9;
}

.burger {
  margin-top: 8px;
  display: none;
}

.burger div{
  width: 30px;
  height: 2px;
  background-color: #333;
  margin: 6px 12px;
  transition: 0.1s;
}

.line1.change {
  transform: rotate(135deg) translate(7px,-5px);
}

.line2.change {
  transform: rotate(45deg);
}

.line3.change  {
  opacity: 0;
}
/* nav ends */

/* welcome starts */
.hero {
  width: calc(100%-64px);
  max-width: 1110px;
  margin: 64px auto;
  height: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.welcome-text{
  padding-left: 72px;
  margin-top: 28px;
  display: flex;
  align-self: flex-start;
  float:left;
  width: 45%;
  height: inherit;
  line-height: 98%;
  font-family: "IBMPlexSansBold";
  font-style: normal;
  font-size: 55px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.welcome-images{
  clip-path: polygon(100% 0%, 35% 15%, 0% 100%, 65% 85%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
}

.back-welcome-images{
  clip-path: polygon(65% 15%, 0% 0%, 35% 85%, 100% 100%);
  opacity: 30%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  height: auto;

}
/* welcome ends */


/* slider starts */
input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.rhombus {
  width: 55%;
  height: 1000px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 64px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon {
  margin-right: 10px;
}

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}
/* slider ends */

/* project , serivce button starts */
#project-container, #service-container{  
  position: relative;
  width: calc(100%-64px);
  max-width: 1110px;
  margin: 64px auto;
  height: auto;
}

#project-container {
  padding-top: 0px;
  margin-top: 0;
}

#service-container{
  margin-left: 0;
  margin-right: 0;
}

#project-button, #service-button {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 72px;
}

#project-button > button {
  background: #0000AD;
}

#service-button > button {
  background: #0093E9;
}

#project-text, #service-text {
  position: relative;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 72px;
  width: 60%;
  height: inherit;
}
/* project, service button ends */

/* about + values + team + services starts */
#about-values, #team-services {
  position: relative;
  width: calc(100%-64px);
  max-width: 1110px;
  margin: 64px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#who-are-we, #our-values, #our-team {
  position: relative;
  text-align: left;
  padding-bottom: 40px;
  padding-left: 72px;
  width: 100%;
  height: auto;
}

#our-team {
  padding-right: 20px;
}

#our-team > p > a {
  color: #5C5C5C;
  text-decoration: none;
  cursor: pointer;
}

#about-values > #who-are-we > h3, 
#about-values > #our-values > h3,
#team-services > #our-team > h3{
  margin: 20px 0;
}
/* about + values + team + services ends */

#grey-content-1 {
  max-width: 1110px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 1em;
  column-gap: 5em;
  height: auto;
}

/*  ------------------------------------------------------------------------------------  */

#projects{
  max-width: 1100px;
  width: calc(100%-64px);
  margin: 0 auto;
  padding-left: 72px;
}

.cards{
  max-width: 1100px;
  margin: 36px auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  height: 351px;
  width: 450px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  place-self: center;
  zoom:1.1;
}

.boxframe {
  position: absolute;
  border: 1px solid #000000;
  z-index: 0;
  width: 350px;
  height: 300px;
  margin: 36px auto;
}

#project-name {
  z-index: 1;
  margin: 10px 0;
  padding-left: -16px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  position: absolute;
  left: 54px;
}

.project-image{
  margin: 54px auto;
  width: 380px;
  height: 232px;
  z-index: 2;
  position: absolute;
}

#img-project
{
  width: 380px;
  height: 232px;
}

.sub-text{
  position: absolute;
  justify-content: end;
  bottom: 22px;
  right: 42px;
}

.status {
  text-align: end;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.subtitle {
  text-align: end;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #5C5C5C;
}

/* slider */
.slider {

  border-radius: 8px;
  width: 380px;
  height: 232px;
}

.wrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#items {
  width: 10000px;
  position: relative;
  top: 0;
  left: 0;
}

#items.shifting {
  transition: left .2s ease-out;
}

.slide {
  width: 380px;
  height: 232px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background:transparent;
}

/* controls */
.slider-controls {
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 62px;
    left:10px;
    position: absolute;
}

.control {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(../ico/left-chevron.png);
  left: 50px;
}

.next {
  background-image: url(../ico/right-chevron.png);
  left: 120px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}

/*  ------------------------------------------------------------------------------------  */
#grey-content-2 {
  max-width: 1110px;
  margin: 10px auto;
  height: auto;
  padding-left: 72px;
}

.list-image {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}

.service-img {
  width: 350px;
  height: 53px;
  padding: 20px;
}


/* footer starts */
.footer-container {
  margin: 48px auto;
  width: calc(100%-64px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  position: relative;
}

.footer-company-name{
  text-align: end;
  position: absolute;
  width:90%;
}

.footer-company-name-h2{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 131.19%;
}
/* footer ends */



/*RESPONSIVE*/

/* ipads */
@media screen and (max-width: 992px) {
  nav{
    padding-left: 18px;
  }

  .hero{
    margin: 18px auto;
    align-items: center;
  }
  .welcome-text{
    align-items: center;
    height: 50%;
    width: 100%;
    padding-left: 32px;
  }
  .welcome-images{
    margin-top: 64px;
    height: 50%;
    width: 100%;
    padding-left: 32px;
  }

  main {
    margin: 18px auto;
    align-items: center;
    margin-top: 36vh;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0;
    row-gap: 0.5em;
  }
  #who-are-we, #our-team, #our-values {
    align-items: center;
    width: 100%;
    padding-left: 32px;
  }

  #service-container, #contact-container {
    width: 100%;
    padding-left: 32px;
  }
  
  #service-container > button, 
  #contact-container > button {
    padding-left: 32px;
  }
}

/* phones */
@media screen and (max-width: 576px) {
  .hero{
    align-items: center;
  }
  .welcome-text{
    font-size: 50px;
    width: 100%;
    padding-left: 18px;
  }
  .welcome-images{
    margin-top: 64px;
    width: 100%;
    padding-left: 0;
  }

  main {
    align-items: center;
    margin-top: 40vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0;
    row-gap: 0.5em;
  } 
  #who-are-we, #our-team, #our-values {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
  #service-container, #contact-container {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
   
  #service-container > button, 
  #contact-container > button {
    padding-left: 18px;
  }

  .nav-right {
    position: absolute;
    right: 0px;
    flex-direction: column;
    top: 8vh;
    text-align: right;
    right: 19px;
    display: none;
  }
  .nav-right > li {
    margin-right: 0px;
    margin-top: 5px;
  } 
  .burger {
    display: block;
    margin-right: 19px;
    cursor: pointer;
  }  
  .nav-right.open {
    display: block;
    z-index: 3;
    background-color: white;
  }
}



