*{
  scroll-behavior: smooth;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  font-style: normal;
  font-size: 16px;
  color: #212427; 
  height:100%;

}

/*Highlights in texts*/
.highlight-blue {
  color: #005CB9;
}

/*Backgroud Tricks from Rumessa*/
.grey-bg {
  /*CANDIDATE 1:  background-color: #e2eeff;*/
  background-color: #fafafa;
  height: auto;
  width: calc(100%-64px);
}
.grey {
  width: calc(100%-64px);
}

/*Have a look at our projects! text*/
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 131.19%;
  color: #212427;
  text-align: left;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 131.19%;
  color: #212427;
  text-align: left;
}

.text{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 131.19%;
  text-align: center;
  color: #212427;
}

/*About us texts*/
.p-text, .list li{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;   /* or 33px */
  color: #5C5C5C;
}

.button{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 131.19%;

  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  padding: 8px;
  position: absolute;
  width: 217px;
  height: 49px;
  display: block;
  border-radius: 24.5px;
  border-color: transparent;
}
/* padding-right: 72px; in project/contact/service container if problem with alignment   */

/* project , serivce button starts */
#project-container, #service-container{  
  position: relative;
  width: calc(100%-64px);
  max-width: 1100px;
  margin: 64px auto;
  height: auto;
}

#project-container {
  padding-top: 0px;
  margin-top: 0;
  padding-bottom: 64px;
}

#service-container{
  margin-left: 0;
  margin-right: 0;
}

#project-button, #service-button {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 36px;
}

#project-button > button {
  background: #0000AD;
}

#project-button > button:hover{
  transition: 0.8s;
  background: #212427;
}

#service-button > button {
  background: #0093E9;
}

#project-text, #service-text {
  position: relative;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 36px;
  width: 60%;
  height: inherit;
}
/* project, service button ends */

/* about + values + team + services starts */
#grey-content-1 {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 1em;
  column-gap: 5em;
  height: auto;
}

#about-values, #team-services {
  position: relative;
  width: calc(100%-64px);
  max-width: 1110px;
  margin: 64px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#who-are-we, #our-values, #our-team {
  position: relative;
  text-align: left;
  padding-bottom: 40px;
  padding-left: 32px;
  width: 100%;
  height: auto;
}

#our-team {
  padding-right: 20px;
}

#our-team > p > a {
  color: #5C5C5C;
  text-decoration: none;
  cursor: pointer;
}

#about-values > #who-are-we > h3, 
#about-values > #our-values > h3,
#team-services > #our-team > h3{
  margin: 20px 0;
}
/* about + values + team + services ends */


/*  ------------------------------------------------------------------------------------  */


/* footer starts */
.footer-container {
  margin: 48px auto;
  width: calc(100%-64px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  position: relative;
}

.footer-company-name{
  text-align: end;
  position: absolute;
  width:90%;
}

.footer-company-name-h2{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 131.19%;
}
/* footer ends */



/*RESPONSIVE*/

/* ipads */
@media screen and (max-width: 992px) {
  /*  first grey starts  */
  #grey-content-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  #team-services, #about-values {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  #who-are-we {
    padding-bottom: 60px;
    padding-right: 18px;
  }

  #our-team , #our-values {
    padding-bottom: 0;
    padding-right: 18px;
  }

  #services-container {
    position: relative;
    text-align: left;
    padding-bottom: 40px;
    padding-left: 32px;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  /*  first grey ends  */
}

/* phones */
@media screen and (max-width: 576px) {
  main {
    align-items: center;
    margin-top: 40vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0;
    row-gap: 0.5em;
  } 
  #who-are-we, #our-team, #our-values {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
  #service-container, #contact-container {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
  #service-text {
    padding-left: 0;
  }   

  #project-text{
    padding-left: 18px;
  }
  #project-button{
    padding-left: 18px;
  }
  #service-button{
    padding-left: 0;
  }

  #service-container > button, 
  #contact-container > button {
    padding-left: 18px;
  }
}



